#game-board {
    max-width: 600px;
    margin: 0 auto;
}

.tile-wrap {
    display: inline-block;
    opacity: 1;
    transition: .7s opacity;
}

.fade {
    opacity: 0;   
    transition: 0; 
}

#score-card {
    text-align: center;
    font-weight: bold;
}